/* Remove defaults */
* {
  padding: 0;
  margin: 0;
  direction: rtl;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/* #region  defining default values */

* {
  font-family: "shabnam", "sans-serif";
}
:root {
  --main-color: #1e1e1e;
  --red: #a73101;
  --cream: #ddbea9;
  --gray: #6c6c6c;
  --gray-light: #888888;
  --box-bg: #262626;
  --light-red: #bd3702;
}
.align-center-verticaly {
  display: flex;
  align-items: center;
}
.align-center-horizontaly {
  display: flex;
  justify-content: center;
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: var(--main-color);
}
/* #endregion */
/* #region  Menubar */
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0 5px 0;
  background: var(--main-color);
}
.logo {
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 42px;
  height: 42px;
}
.logo span {
  padding-right: 5px;
  color: var(--cream);
}
.active {
  color: var(--gray-light) !important;
}
.menubar {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}
.menubar-li {
  height: fit-content;
}
.menubar-items {
  color: #fff;
  transition: 0.3s color;
}
.menubar-items:hover {
  color: var(--gray);
}
.user {
  padding-left: 15px;
}
.user-auth-btn {
  padding: 3px 10px;
  border-radius: 5px;
  background-color: var(--red);
  color: #fff;
  font-size: 14px;
  transition: 0.3s background-color;
}
.user-auth-btn:hover {
  background-color: var(--light-red);
}
/* #endregion  */
/* #region Index suggestion section */
.index-suggestion-section {
  width: 100%;
  height: 500px;
  background: url("../images/index-suggested-img.jpeg") no-repeat center;
  background-size: cover;
  position: relative;
}
.index-suggestion-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
.index-suggestion-section h3 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 2em;
  position: relative;
  z-index: 5;
}
.suggestion-container {
  padding: 20px 15px 5px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.suggested-box {
  position: relative;
  z-index: 5;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 35%;
  margin-top: 25px;
}
.suggested-box img {
  width: 128px;
  height: 100%;
  border-radius: 0 10px 10px 0;
}
.suggested-box div {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 0;
  width: calc(100% - 128px);
}
.suggested-box div .song-name {
  font-size: 20px;
  color: white;
}
.suggested-box div .song-name span {
  color: var(--cream);
}
.suggested-box div .artist-name {
  display: flex;
}
.suggested-box div .artist-name a {
  color: var(--gray-light);
  transition: 0.3s color;
  width: fit-content;
}
.suggested-box div .artist-name a:hover {
  color: #b4b4b4;
}
.suggested-box div .duration {
  color: var(--gray-light);
}
.suggested-box div .play-song {
  align-self: flex-end;
  margin-left: 30px;
  position: relative;
  top: -10px;
  color: white;
  background-color: var(--red);
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s background-color;
}
.suggested-box div .play-song:hover {
  background-color: var(--light-red);
}
/* #endregion   */

/* #region index main */
/* songs list container */
.songs-list-container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
}
.songs-list-container h3 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 18px;
  width: 100%;
  font-size: 22px;
}
.songs-list-container .song-box {
  display: flex;
  width: 30%;
  margin-top: 10px;
  background-color: var(--box-bg);
  border-radius: 10px;
}
.songs-list-container .song-box img {
  width: 128px;
  height: 85px;
  border-radius: 0 10px 10px 0;
  opacity: 0.8;
}
.song-box div {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 0;
  width: calc(100% - 128px);
}
.song-box div .song-name {
  font-size: 20px;
  color: white;
}
.song-box div .song-name span {
  color: var(--cream);
}
.song-box div .artist-name span {
  display: flex;
}
.song-box div .artist-name a {
  color: var(--gray-light);
  transition: 0.3s color;
  width: fit-content;
}
.song-box div .artist-name a:hover {
  color: #b4b4b4;
}

/* #endregion */
footer {
  padding: 10px 0;
  width: 100%;
  background-color: var(--box-bg);
  color: var(--gray-light);
}

/* #region Songs page */

.search-header-input {
  margin: 50px 0;
}
.search-header-input input {
  width: 40%;
  padding: 10px 5px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--box-bg);
  font-size: 20px;
  color: var(--cream);
}

/* #endregion */

/* #region Artists container */

.artists-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 50px 0;
  justify-content: space-evenly;
}

.artists-container .artist-box {
  width: 15%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  align-items: center;
  background-color: #222222;
  margin-bottom: 50px;
}
.artists-container .artist-box img {
  width: 100%;
  height: 200px;
  border-radius: 30px 30px 0 0;
}

.artists-container .artist-box .artist-name {
  margin-top: 10px;
  color: #fff;
}
.artists-container .artist-box .artist-genre {
  color: var(--gray-light);
}
/* #endregion */

/* #region artist page */

.artist-header-container {
  width: 100%;
  height: 500px;
  background: url("../../images/artists/Taylor-swift/bg-1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}
.artist-header-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
.artist-details {
  position: relative;
  z-index: 5;
  display: flex;
  height: 90%;
}

.artist-details .about {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artist-details .about .name {
  color: #fff;
  font-size: 35px;
}
.artist-details .about .about-text {
  color: var(--gray-light);
  text-align: justify;
  padding: 50px 30px;
  font-size: 18px;
}
.artist-details .profile {
  width: 29%;
  height: 100%;
}
.artist-details .profile img {
  max-width: 100%;
  opacity: 0.7;
}

.artist-header-container .info {
  position: relative;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 10%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.artist-header-container .info span {
  color: #fff;
  font-weight: normal;
}
.artist-header-container .info span > span {
  color: var(--gray-light);
  font-weight: bold;
}
/* #endregion */
